li:first-child {
    color:aqua
}

li:nth-child(2){
    color:rgb(255, 235, 121)
}

li:last-child {
    color:rgb(123, 255, 121)
}

/* li:nth-child(odd){
    color:rgb(255, 121, 251)
} */

/* li:nth-child(even){
    color:rgb(255, 121, 251)
} */